<html>
  <head>
    <title>Hello Web Project Skates</title>
  </head>
  <body>
    <h1>Hello, World!</h1>
    <a href='/names'>Go to the name page</a>
    <a href='/posts?name=Jack'>Go to Jack's posts</a>
  </body>
</html>