<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    <div>
    <a href='/'>Go to the home page </a>
      <% @albums.each do |album|%>
        <a href="/albums/<%=album.id %>"> 
        <p> Title: <%= album.title%> </p>
        <p> Released: <%= album.release_year%> </p>
        </a>
        <p> --------------------- </p>
      <% end %>
    </div>
  </body>
</html>