<html>
  <head></head>
  <body>
    <h1>Artists</h1>
    <div>
    <a href='/'>Go to the home page </a>
      <% @artists.each do |artist|%>
        <a href="/artists/<%=artist.id %>"> 
        <p> Name: <%= artist.name%> </p>
        <p> Genre: <%= artist.genre%> </p>
        </a>
        <p> --------------------- </p>
      <% end %>
    </div>
  </body>
</html>