<html>
  <head>
    <title>Skates Music Library Database</title>
  </head>
  <body>
    <h1>Skates Music Library Database</h1>
    <a href='/'>Go to the home page </a>
    <a href='/albums'> Go to Albums </a>
    <a href='/artists'> Go to Artists </a>
  </body>
</html>