<html>
  <head>
    <title>Skates Music Library Database</title>
  </head>
  <body>
    <h1>Skates Music Library Database</h1>
    <div>
    <a href='/'>Go to the home page </a>
    </div>

    <div>
    <a href='/albums'> Go to Albums </a>
    </div>

    <div>
    <a href='/artists'> Go to Artists </a>
    </div>

    <div>
    <a href='/albums/new'> Add a new album </a>
    </div>

    <div>
    <a href='/artists/new'> Add a new artist </a>
    </div>

  </body>
</html>